/* Estilos da pagina index.html */

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Open+Sans&display=swap');

body{
    background-color: #ddd8d8;
}

.center{
    text-align: center;
}

.direita{
    text-align: right;
}

.justify{
    text-align: justify;
}

*{font-family: 'Open Sans', sans-serif;}

.titulo{
    /* latin-ext */
 
    font-family: 'MedievalSharp', cursive;
    font-weight: 400;
    font-size: 50px;
}

.container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#menu{
    background-color: #000000;
    padding: 18px;
}

#menu li{
 display: inline;
 padding: 18px;
}

#menu li a{
    text-decoration: none;
    color: #FF8600;
    font-size: 24px;
}

#menu li a:hover{
   color: #BD1E1E;
} 

.p-20{
    padding: 20px;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 50%;
}

.tm-social{
    width: 50px;
    height: 50px;
}

.mb-50{
    margin-bottom: 50px;
}


/* Estilos da pagina contato.html */

.ml-50{
    margin-left: 50px;
}